@import url("https://refact0r.github.io/system24/build/system24.css");

:root {
  --colors: on; /* off: discord default colors, on: midnight custom colors */

  /* base colors */
  --red: #cd231d;
  --purple: #e64cb2;
  --blue: #5a80f2;
  --aqua: #52e0e0;
  --green: #4dcb58;
  --yellow: #dfbf20;
  --orange: #df7020;
  /* names needed for other elements */
  --red-1: var(--red);
  --red-2: var(--red);
  --red-3: var(--red);
  --red-4: var(--red);
  --red-5: var(--red);
  --purple-1: var(--purple);
  --purple-2: var(--purple);
  --purple-3: var(--purple);
  --purple-4: var(--purple);
  --purple-5: var(--purple);
  --blue-1: var(--blue);
  --blue-2: var(--blue);
  --blue-3: var(--blue);
  --blue-4: var(--blue);
  --blue-5: var(--blue);
  --aqua-1: var(---aqua);
  --aqua-2: var(---aqua);
  --aqua-3: var(---aqua);
  --aqua-4: var(---aqua);
  --aqua-5: var(---aqua);
  --green-1: var(--green);
  --green-2: var(--green);
  --green-3: var(--green);
  --green-4: var(--green);
  --green-5: var(--green);
  --yellow-1: var(--yellow);
  --yellow-2: var(--yellow);
  --yellow-3: var(--yellow);
  --yellow-4: var(--yellow);
  --yellow-5: var(--yellow);
  --orange-1: var(--orange);
  --orange-2: var(--orange);
  --orange-3: var(--orange);
  --orange-4: var(--orange);
  --orange-5: var(--orange);

  /* text colors */
  --text-0: var(--bg-4); /* text on colored elements */
  --text-1: #e5e5e5; /* bright text on colored elements */
  --text-2: #e5e5e5; /* headings and important text */
  --text-3: #d9d9d9; /* normal text */
  --text-4: #595959; /* icon buttons and channels */
  --text-5: #4c4c4c; /* muted channels/chats and timestamps */

  /* background and dark colors */
  --bg-1: var(--red); /* dark buttons when clicked */
  --bg-2: #353535; /* dark buttons */
  --bg-3: #1c1c1c; /* spacing, secondary elements */
  --bg-4: #232323; /* main background color */

  --hover: var(--red); /* channels and buttons when hovered */
  --active: var(--bg-2); /* channels and buttons when clicked or selected */
  --active-2: var(--red); /* extra state for transparent buttons */
  --message-hover: var(--bg-2); /* messages when hovered */

  /* accent colors */
  --accent-1: var(--red); /* links and other accent text */
  --accent-2: var(--red); /* small accent elements */
  --accent-3: var(--red); /* accent buttons */
  --accent-4: color-mix(in oklch, var(--red), var(--text-1) 20%); /* accent buttons when hovered */
  --accent-5: color-mix(in oklch, var(--red), currentColor 50%); /* accent buttons when clicked */
  --accent-new: var(--red); /* stuff that's normally red like mute/deafen buttons */
  --mention: linear-gradient(to right, color-mix(in hsl, var(--accent-2), transparent 90%) 40%, transparent); /* background of messages that mention you */
  --mention-hover: linear-gradient(to right, color-mix(in hsl, var(--accent-2), transparent 95%) 40%, transparent); /* background of messages that mention you when hovered */
  --reply: linear-gradient(to right, color-mix(in hsl, var(--text-3), transparent 90%) 40%, transparent); /* background of messages that reply to you */
  --reply-hover: linear-gradient(to right, color-mix(in hsl, var(--text-3), transparent 95%) 40%, transparent); /* background of messages that reply to you when hovered */

  /* status indicator colors */
  --online: var(--green);
  --dnd: var(--red);
  --idle: var(--orange);
  --streaming: var(--yellow);
  --offline: var(--text-4);

  /* border colors */
  --border-light: var(--hover); /* general light border color */
  --border: var(--active); /* general normal border color */
  --border-hover: var(--red); /* border color of panels when hovered */
  --button-border: hsl(0, 0%, 100%, 0.1); /* neutral border color of buttons */
}


body {
  --font: "Inter";
  --code-font: "Hack";
  font-weight: 400; /* normal UI font weight. DOES NOT AFFECT BOLD TEXT */
  letter-spacing: 0; /* default: -0.05ch */

  /* panel options */
  --gap: 1rem; /* spacing between panels. */
  --border-thickness: 3px; /* thickness of borders around main panels. DOES NOT AFFECT OTHER BORDERS */
  --border-hover-transition: .2s ease-out; /* transition for borders when hovered */

  /* panel label options */
  --panel-labels: on; /* off: default, on: add labels to panels */
  --label-color: var(--red); /* color of labels */
  --label-font-weight: 700; /* font weight of labels */

  /* animation/transition options */
  --animations: on; /* off: disable animations/transitions, on: enable animations/transitions */
  --list-item-transition: .15s ease-out; /* transition for list items */
  --dms-icon-svg-transition: none; /* transition for the dms icon */

  /* top bar options */
  --top-bar-height: var(--gap); /* height of the top bar (discord default is 36px, old discord style is 24px, var(--gap) recommended if button position is set to titlebar) */
  --top-bar-button-position: titlelist; /* off: default position, hide: hide buttons completely, serverlist: move inbox button to server list, titlebar: move inbox button to channel titlebar (will hide title) */
  --top-bar-title-position: off; /* off: default centered position, hide: hide title completely, left: left align title (like old discord) */
  --subtle-top-bar-title: off; /* off: default, on: hide the icon and use subtle text color (like old discord) */

  /* dms button options */
  --custom-dms-icon: custom; /* off: use default discord icon, hide: remove icon entirely, custom: use custom icon */
  --dms-icon-svg-url: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Cpath fill='currentColor' d='m84.3 87.5-28.05-63h-12.5l-28.05 63h-3.2V0H0v100h100V87.5H84.3ZM50 41l20.65 46.5h-41.3L50 41Z' /%3E%3C/svg%3E"); /* icon svg url. MUST BE A SVG. */
  --dms-icon-svg-size: 100%; /* size of the svg (css mask-size property) */
  --dms-icon-color-before: var(--bg-4); /* normal icon color */
  --dms-icon-color-after: var(--text-1); /* icon color when button is hovered/selected */

  /* unrounding options */
  --unrounding: on; /* off: default, on: remove rounded corners from panels */

  /* styling options */
  --custom-spotify-bar: on; /* off: default, on: custom text-like spotify progress bar */
  --ascii-titles: on; /* off: default, on: use ascii font for titles at the start of a channel */
  --ascii-loader: system24; /* off: default, system24: use system24 ascii loader, cats: use cats loader */

  /* other options */
  --small-user-panel: on; /* off: default user panel, on: smaller user panel like in old discord */
  --divider-thickness: 1px; /* thickness of unread messages divider and highlighted message borders */
}

/* fix clipping on the "nav" title text */
nav:is([class^='wrapper_'], [class^='guilds_']), nav:is([class*=' wrapper_'], [class*=' guilds_']) {
  -webkit-mask: none;
  mask: none;
}

/* better contrast for server channel max size text */
span[class^='total_'], span[class*=' total_'] {
  color: var(--text-0);
}

/* better contrast for the reaction button */
div[class^='reaction__'], div[class*=' reaction__'] {
  background-color: var(--bg-4);
  border-color: var(--bg-2);
  &:hover {
    background-color: var(--bg-1);
    border-color: var(--bg-1);
  }
}
div[class^='reactionCount__'], div[class*=' reactionCount__'] {
  color: var(--text-3);
}
